.nav{
	height:60px;
	background-color:#00BFFF;
	width:100%;
	overflow:hidden;
	border:1px solid #00BFFF;

}
.nav ul {
  float: right;

}
.home{
  float: left;
  color: white;
  font-size: 30px;
  line-height: 50px;
  transition: 0.7s all;
  margin-top:15px;

}
li {
  display: inline;
  float: left;
  margin-top:10px;
  font-size:30px;

}
.nav a {
  text-align:center;
  color: #fff;
  text-decoration: none;
  padding: 25px;
  margin-top:10px;

}
.nav a:hover {
  background: white;
  color:black;
}
.pagebody{
	width:80%;
	height:80%;
	overflow:hidden;
	margin-left:7%;
	margin-top:20px;
	background-color:lightgrey;
	padding:0px 40px;
}
.pagebody:hover{
	background-color:grey;
}
.image1{
	-webkit-filter: sepia(1);
	filter: sepia(1);
  }

 .image2{
	 webkit-filter: grayscale(1);
	filter: grayscale(1);
 }
.slideshow{

	width:80%;
	height:100%;
	float:left;
	margin-left:60px;
	box-shadow:10px 30px 50px 30px white;
}
.sliderbutton{
	border-radius:50%;
	background-color:transparent;
	color:white;
	float:left;
	margin-top:25%;
	font-size:40px;
	border:none;
}
.icon{
	color:white;
	font-size:30px;
	padding-right:5px;
	margin-top:10px;

}
.icon:hover{
	color:black;
}

.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;



	visibility: visible !important;
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}

	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}

	100% {
		-webkit-transform: translateX(0%);
	}
}
/*Media Queries*/
/*screen with a resolution of maximum width 680px can have these properties
otherwise normal css is applicable*/

@media screen and (max-width: 680px) {
    body {
        background-color: lightgreen;
    }
	.pagebody{
		width:80%;
		height:80%;
		margin-left:3%;
		margin-top:15px;
	}
	.slideshow{
		width:60%;
		height:100%;
		margin-left:70px;
	}
	.nav{
		width:100%

	}
	li{
		font-size:20px;
	}
	.home{
		font-size:20px;
		margin-top:10px;
	}
	.icon{
		font-size:20px;
		margin-top:10px;
	}
	.sliderbutton{
		margin-top:30%;
		font-size:20px;
	}
}
