<Doctype!>
<html>
	<head>
		<title>
			My Favourite
		</title>
		<style type="text/css">
			@import url("../CSS/SlideShowCSS.css");
		</style>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	</head>
	<body>
		<div class="nav">
			<!--div for nav bar-->
			<div class="home">
				<!--home buton or anchor reference-->
				<a href ="../Templates/index.html">Home</a>
			</div>
			<!--<span class="icon"><i class="material-icons right">home</i></span>-->
			<ul>
				<!--list of items required on nav bar-->
				<li><a href="../Templates/cricket.html">Cricket</a></li>
				<li><a href="#Painting">Painting</a></li>
				<li><a href="#Chess">Chess</a></li>
			</ul>
		</div>
		<div class="pagebody">
			<div>
			<button class="sliderbutton" onclick="videodiv(-1)">&#10094;</button>
			</div>
		<!--div for the slideshow of the images-->
		<div class="slideshow ">
			<iframe  class="myVideos " width="100%" height="100%" src="https://www.youtube.com/embed/oq-CiKyTsBg" frameborder="0" allowfullscreen></iframe>
			<iframe  class="myVideos " width="100%" height="100%" src="https://www.youtube.com/embed/kVo-nyX2gDw" frameborder="0" allowfullscreen></iframe>
		 </div>
		 <div>
			<button class="sliderbutton" style="float:right"onclick="videodiv(1)">&#10095;</button>
		 </div>
		 <script src="../JS/videodiv.js"></script>
	</body>
</html>
